@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700&family=Cormorant+SC:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.section-1 {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('BGL.jpg');
    background-size: cover;
    background-attachment: fixed;
    scroll-snap-align: start;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
}

.header-section {
    position: absolute;
    top: 50%;
    left: 50%;
    backdrop-filter: blur(8px);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 140px;
    width: 460px;
    background-color: rgba(0,0,0,0.7);
    transition: 0.4s;
    box-shadow: 0px 40px 10px -20px rgba(0, 0, 0, 0.4);
}

.header {
    font-family: 'Cinzel', serif;
    letter-spacing: 6px;
    font-size: 3rem;
    transition: 0.4s;
}

.header-list {
    display: flex;
    list-style-type: none;
}

.header-list li {
    padding: 0rem 1rem;
    font-family: 'Cormorant SC', serif;
    letter-spacing: 4px;
}

.header-list li a {
    text-decoration: none;
    transition: 0.4s;
}

.header-list li a:visited, .header-list li a:active  {
    color: white;
}

.header-list li a:hover {
    color: #FF8800;
}

.header span {
    color: #FF8800;
}